<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="false">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="main contents">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<mat-toolbar class="mat-elevation-z8 main header" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
