.header {
  height: 446px;
  padding: 20px;
  width: 100%;
  color: #fff;
  background: #495cc2;
  background-image: url('https://freepik.cdnpk.net/assets/b1bde199d76dd22fc49aa288b0d5ab10.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;

  .inner-header {
    height: inherit;

    .image-side {
      padding-left: 90px;
      padding-top: 33px;

      img {
        width: 400px;
      }
    }


    .info-message {
      h2 {
        font-size: 3rem;
        line-height: 0;
        font-weight: lighter;
      }
    }
  }

  .mobile-header {
    padding: 100px 20px;
  }

  .hide-on-device {
    display: none !important;
  }


}
